
* {	margin: 0px; padding: 0px; font-size: calc(max(14px,1.5vh)); }
body { background-color: black; color:black}

table {	background-color: rgb(197, 194, 194); padding:0; margin: 0;}
td {width:fit-content;vertical-align: center;}

.hlp {margin:5px;padding:2px;border: 2px solid;;
    border-collapse: collapse;width: calc(min(60ch,95%));}
.hr {border-bottom:1pt solid black;}
.right {
    text-align:right;
    margin:5px;
    padding-right:5px; 
    padding-left:5px; }
.left  {
    text-align:left;
    margin:5px;
    padding-right:5px;  }

